
.ipynb_checkpoints/getting_started-checkpoint.ipynb
.ipynb_checkpoints/accessing_text_corpora_and_lexical_resources-checkpoint.ipynb
.ipynb_checkpoints/lexical_resources-checkpoint.ipynb
**/__pycache__
.ipynb_checkpoints/processing_raw_text-checkpoint.ipynb
.ipynb_checkpoints/categorising_and_tagging_words-checkpoint.ipynb
.ipynb_checkpoints/learning_to_classify_text-checkpoint.ipynb
.ipynb_checkpoints/accessing_text_corpora-checkpoint.ipynb
.ipynb_checkpoints/extracting_information_from_text-checkpoint.ipynb
.ipynb_checkpoints/analysing_sentence_structure-checkpoint.ipynb
.ipynb_checkpoints/analysing_the_meaning_of_sentences-checkpoint.ipynb
.ipynb_checkpoints/building_feature_based_grammars-checkpoint.ipynb
